.card2-box1{
    background-color: black;
    color:white;
  
   
}
.card2-para{
  
    margin-top: 2rem;
    font-family: "Calluna-Regular"!important;
}
.card2-text{
    margin:6rem;
}
.card3-box3{
    position:absolute;
    left:5rem;
    top:3.4rem;
    bottom: 3.4rem;
   
    
   
}
.card3{
position: relative;
background-color:#AEDBED;

}
.card3-box1{
    /* margin-top:0;
    margin-bottom:0; */
    height:81vh;
    background-color: #FBE1BC;
    color: #073433;
  
}


.card3-header{
    font-weight: 600;
}

@media (min-width:320px) and (max-width:480px){
    .card2-text{
        margin:0rem;
    }
    .card3-box3{
        position:absolute;
        left:0rem;
        top:1rem;
       
        
       
    }
}