.card2-box1 {
  background-color: #FBE1BC;
  color: #073433;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height:81vh;
  
}
.card2-para {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-family: "Calluna-Regular"!important;
  text-align: justify;
}
.card2-text {
  border-left: 2px solid rgb(65, 64, 64);
  padding: 2rem;
}
.card2-box2 {
  position: absolute;
  right: 5rem;
  top:5.5rem;
 
}
.card2 {
  position: relative;
  background-color:#AEDBED;
}

/* .card2images {
  width: 53rem;
} */
.card2-header{
   font-weight: 600;
}
@media (min-width:320px) and (max-width:480px){
  .card2-box1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height:81vh;
    
  }
  .card2-box2 {
  
    right:0rem;
    top: 1rem;
  }
  .card2-para{
    margin-top: 2rem;
    text-align:justify!important;
  
    font-size: 1rem;
    font-family: "Calluna-Regular"!important;
  }
  .card2-text {
  
    margin-top:20rem;
    border-left: 2px solid rgb(65, 64, 64);
    padding: 1rem;
  }
  .card-float
  {
    display: flex;
    flex-direction: column;
  }
}