.values-content{

    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
}
.values-head{
    padding-top: 2rem;
    
}
.images-values{
    height:10rem;
    width:10rem;
}
.values-container{
    background-color: #FBE1BC;
    color: #073433;

}
.value{
    font-weight: 600;
    color:#073433 ;
}
.box{
    padding: 2rem;
    
}
.box img{
    height: 14rem;
    width: 10rem;
    transform: scale(1);

}
.box img:hover{
    transform: scale(1.2);
}
.value-txt{
    color: #232323;
}
.value-para{
    font-size: 1.2rem;
    font-family: "Calluna-Regular"!important;
    /* text-align: left; */
}
@media (min-width:320px) and (max-width:480px){
    .values-content{

        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    .box{
        padding: 1rem;
        
    }
    .box img{
        height: 6rem;
        width:6rem;
        transform: scale(1);
    
    }
    .value-para{
        font-size: 1rem;
    }
    .values-head{
        padding-top: 3rem;

    }
}