.aboutsection{
  padding:4rem 6rem;  
}
.about-para{
    text-align:left;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}
.bttn{
    height:3rem;
    width:14rem;
    background-color: black;
    color:#ffff;

}
