.stylebutton{
    background-color: rgb(0, 255, 102);
}
.style{
  background-color: rgb(167, 28, 28);
}
a{
    text-decoration: none;
    color: rgb(240, 250, 255);
}
.para-text{
    text-shadow: 2px,1px,2px,1px,black;
    font-size: 1.3rem;
    font-family: "Calluna-Regular"!important;
    text-shadow: 1.5px 1px black;
}
.button-carousel{
    transform: scale(1);
    margin-top: 1.5rem;
}
.button-carousel:hover{
    transform: scale(1.1);
    color: rgb(17, 18, 18);
}
.text-allignment{
    text-align: justify;
    width: 68rem;
    position: absolute;
    top:12rem;
    left: 18rem;
}
.heading-top{
    font-size:3rem ;
    font-weight: 800;
}
.image-shadow{
    filter:brightness(0.4);
   
}
.carousel-inner{
 height: 680px;
}

/* .item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
} */

@media (min-width:320px) and (max-width:480px){
    .carousel-inner{
        height:20rem;
       }
    /* .text-allignment{
        text-align:center;
        width: 8rem;
        position: absolute;
        top:1rem;
        left: 1rem;
    } */
    .heading-top{
        font-size:1rem ;
        font-weight: 800;
    }


}