.logo{
    font-family:"Gilroy-HeavyItalic";
    font-size:55px;
   
    text-shadow: 1px 1px 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    color:teal;
}
/* .search-icon{
    position: absolute;
    right: 12px;
    color: darkgray;
    cursor: pointer;

} */
/* .search-input{
 border:none;
 outline: none;
 
} */
/* .search-container{
    position: relative;
} */
.nav-link{
    text-decoration: none;
    color:rgb(235, 240, 240);
   
}
.nav-link:hover{
    color:var(--primary-color1);
    filter: brightness(1.75);
}
.navbar-collapse{
  font-size: 20px;
    justify-content:end;
    font-family: "Gilroy-Bold",sans-serif!important;
    
     /* filter: brightness(1); */

}

.header-section{
    
	position:fixed;
    width: 100%;
    top: 0;
    left: 0; 
  z-index: 1;
 
    /* box-shadow: 0 0.5rem 1rem 0 rgba(21,21,30,0.08); */
  
   
}
.colorChange{
    position:fixed;
    width: 100%;
    top: 0;
    left: 0; 
   z-index: 21;
   /* background-color: #0D6667; */
    background-color: #534F7E;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem 0 rgba(21,21,30,0.08);
    transition:0.8;
}

.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: end;
   
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 2rem;
   
    padding-left: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}
/* .nav-item{
    padding-left: 1rem;
    padding-right: 1rem;
} */
.nav-item > .active {
    border-bottom: 1px solid #333;
}
@media (min-width:320px) and (max-width:480px){
    .logo{
        font-family:"Gilroy-HeavyItalic";
        font-size:5px;
        height: 3rem;
        display:flex;
        flex-direction: row;
     align-items: flex-start;
     justify-content: flex-start;
        
    }
    .navbar-toggler{
        height: 0.8rem;
        width: 0.8rem;
    }
    .navbar-logo{
        display: flex;
        /* flex-direction: column; */
        align-items:start;
        justify-content: end;
       
    }
    .image-logo{
        /* height: 40%; */
    }

    .colorChange{
        position:fixed;
        width: 100%;
        top: 0;
        left: 0; 
       z-index: 1;
       /* height:3rem; */
       background-color: #0D6667;
        /* background-color: #7D77BC; */
        box-shadow: 0 0.5rem 1rem 0 rgba(21,21,30,0.08);
        transition:0.8;
    }
    .navbar-color{
        display: flex;
    }
}
