.front-career-head{
    font-size: 5.5rem;
    font-weight: 400;
    word-spacing:12px;
    color: #333;
	-webkit-text-stroke: 1px #282828;
	text-shadow: 0px 4px 4px #282828;
    
    
}
.career-tag{
    font-size: 2rem;
}
.career-margin-top{
    margin-top: 3rem;
}
.career-txt{
    font-size: 4rem;
    padding-left: 1rem;
}
.career-front{
    margin-bottom: 6rem;
}

.about-career{
text-indent: 80px;
}
/* .set{
    width:12rem
} */